<?php
/**
 * Client
 * PHP version 5
 *
 * @category Class
 * @package  ProcessMaker\PMIO
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * ProcessMaker API
 *
 * This ProcessMaker I/O API provides access to a BPMN 2.0 compliant workflow engine API that is designed to be used as a microservice to support enterprise cloud applications. The current Alpha 1.0 version supports most of the descriptive classes of the BPMN 2.0 specification.
 *
 * OpenAPI spec version: 1.0.0
 * Contact: support@processmaker.io
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace ProcessMaker\PMIO;

use \ProcessMaker\PMIO\Configuration;
use \ProcessMaker\PMIO\ApiClient;
use \ProcessMaker\PMIO\ApiException;
use \ProcessMaker\PMIO\ObjectSerializer;

/**
 * Client Class Doc Comment
 *
 * @category Class
 * @package  ProcessMaker\PMIO
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class Client
{

    /**
     * API Client
     *
     * @var \ProcessMaker\PMIO\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \ProcessMaker\PMIO\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\ProcessMaker\PMIO\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://CHANGEME.api.processmaker.io/api/v1');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \ProcessMaker\PMIO\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \ProcessMaker\PMIO\ApiClient $apiClient set the API client
     *
     * @return Client
     */
    public function setApiClient(\ProcessMaker\PMIO\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation addEvent
     *
     * 
     *
     * @param string $process_id ID of the process related to the event (required)
     * @param \ProcessMaker\PMIO\Model\EventCreateItem $event_create_item JSON API response with the event object to add (required)
     * @return \ProcessMaker\PMIO\Model\EventItem
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addEvent($process_id, $event_create_item)
    {
        list($response) = $this->addEventWithHttpInfo($process_id, $event_create_item);
        return $response;
    }

    /**
     * Operation addEventWithHttpInfo
     *
     * 
     *
     * @param string $process_id ID of the process related to the event (required)
     * @param \ProcessMaker\PMIO\Model\EventCreateItem $event_create_item JSON API response with the event object to add (required)
     * @return Array of \ProcessMaker\PMIO\Model\EventItem, HTTP status code, HTTP response headers (array of strings)
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addEventWithHttpInfo($process_id, $event_create_item)
    {
        // verify the required parameter 'process_id' is set
        if ($process_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $process_id when calling addEvent');
        }
        // verify the required parameter 'event_create_item' is set
        if ($event_create_item === null) {
            throw new \InvalidArgumentException('Missing the required parameter $event_create_item when calling addEvent');
        }
        // parse inputs
        $resourcePath = "/processes/{process_id}/events";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/vnd.api+json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/vnd.api+json'));

        // path params
        if ($process_id !== null) {
            $resourcePath = str_replace(
                "{" . "process_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($process_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($event_create_item)) {
            $_tempBody = $event_create_item;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ProcessMaker\PMIO\Model\EventItem',
                '/processes/{process_id}/events'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\ProcessMaker\PMIO\Model\EventItem', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\EventItem', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addEventConnector
     *
     * 
     *
     * @param string $process_id ID of the process to fetch (required)
     * @param string $event_id ID of the event to fetch (required)
     * @param \ProcessMaker\PMIO\Model\EventConnectorCreateItem $event_connector_create_item JSON API with the EventConnector object to add (required)
     * @return \ProcessMaker\PMIO\Model\EventConnector1
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addEventConnector($process_id, $event_id, $event_connector_create_item)
    {
        list($response) = $this->addEventConnectorWithHttpInfo($process_id, $event_id, $event_connector_create_item);
        return $response;
    }

    /**
     * Operation addEventConnectorWithHttpInfo
     *
     * 
     *
     * @param string $process_id ID of the process to fetch (required)
     * @param string $event_id ID of the event to fetch (required)
     * @param \ProcessMaker\PMIO\Model\EventConnectorCreateItem $event_connector_create_item JSON API with the EventConnector object to add (required)
     * @return Array of \ProcessMaker\PMIO\Model\EventConnector1, HTTP status code, HTTP response headers (array of strings)
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addEventConnectorWithHttpInfo($process_id, $event_id, $event_connector_create_item)
    {
        // verify the required parameter 'process_id' is set
        if ($process_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $process_id when calling addEventConnector');
        }
        // verify the required parameter 'event_id' is set
        if ($event_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $event_id when calling addEventConnector');
        }
        // verify the required parameter 'event_connector_create_item' is set
        if ($event_connector_create_item === null) {
            throw new \InvalidArgumentException('Missing the required parameter $event_connector_create_item when calling addEventConnector');
        }
        // parse inputs
        $resourcePath = "/processes/{process_id}/events/{event_id}/connectors";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/vnd.api+json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/vnd.api+json'));

        // path params
        if ($process_id !== null) {
            $resourcePath = str_replace(
                "{" . "process_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($process_id),
                $resourcePath
            );
        }
        // path params
        if ($event_id !== null) {
            $resourcePath = str_replace(
                "{" . "event_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($event_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($event_connector_create_item)) {
            $_tempBody = $event_connector_create_item;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ProcessMaker\PMIO\Model\EventConnector1',
                '/processes/{process_id}/events/{event_id}/connectors'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\ProcessMaker\PMIO\Model\EventConnector1', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\EventConnector1', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addFlow
     *
     * 
     *
     * @param string $process_id ID of the process related to the flow (required)
     * @param \ProcessMaker\PMIO\Model\FlowCreateItem $flow_create_item JSON API response with the Flow object to add (required)
     * @return \ProcessMaker\PMIO\Model\FlowItem
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addFlow($process_id, $flow_create_item)
    {
        list($response) = $this->addFlowWithHttpInfo($process_id, $flow_create_item);
        return $response;
    }

    /**
     * Operation addFlowWithHttpInfo
     *
     * 
     *
     * @param string $process_id ID of the process related to the flow (required)
     * @param \ProcessMaker\PMIO\Model\FlowCreateItem $flow_create_item JSON API response with the Flow object to add (required)
     * @return Array of \ProcessMaker\PMIO\Model\FlowItem, HTTP status code, HTTP response headers (array of strings)
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addFlowWithHttpInfo($process_id, $flow_create_item)
    {
        // verify the required parameter 'process_id' is set
        if ($process_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $process_id when calling addFlow');
        }
        // verify the required parameter 'flow_create_item' is set
        if ($flow_create_item === null) {
            throw new \InvalidArgumentException('Missing the required parameter $flow_create_item when calling addFlow');
        }
        // parse inputs
        $resourcePath = "/processes/{process_id}/flows";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/vnd.api+json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/vnd.api+json'));

        // path params
        if ($process_id !== null) {
            $resourcePath = str_replace(
                "{" . "process_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($process_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($flow_create_item)) {
            $_tempBody = $flow_create_item;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ProcessMaker\PMIO\Model\FlowItem',
                '/processes/{process_id}/flows'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\ProcessMaker\PMIO\Model\FlowItem', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\FlowItem', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addGateway
     *
     * 
     *
     * @param string $process_id ID of the process related to the gateway (required)
     * @param \ProcessMaker\PMIO\Model\GatewayCreateItem $gateway_create_item JSON API response with the gateway object to add (required)
     * @return \ProcessMaker\PMIO\Model\GatewayItem
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addGateway($process_id, $gateway_create_item)
    {
        list($response) = $this->addGatewayWithHttpInfo($process_id, $gateway_create_item);
        return $response;
    }

    /**
     * Operation addGatewayWithHttpInfo
     *
     * 
     *
     * @param string $process_id ID of the process related to the gateway (required)
     * @param \ProcessMaker\PMIO\Model\GatewayCreateItem $gateway_create_item JSON API response with the gateway object to add (required)
     * @return Array of \ProcessMaker\PMIO\Model\GatewayItem, HTTP status code, HTTP response headers (array of strings)
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addGatewayWithHttpInfo($process_id, $gateway_create_item)
    {
        // verify the required parameter 'process_id' is set
        if ($process_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $process_id when calling addGateway');
        }
        // verify the required parameter 'gateway_create_item' is set
        if ($gateway_create_item === null) {
            throw new \InvalidArgumentException('Missing the required parameter $gateway_create_item when calling addGateway');
        }
        // parse inputs
        $resourcePath = "/processes/{process_id}/gateways";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/vnd.api+json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/vnd.api+json'));

        // path params
        if ($process_id !== null) {
            $resourcePath = str_replace(
                "{" . "process_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($process_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($gateway_create_item)) {
            $_tempBody = $gateway_create_item;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ProcessMaker\PMIO\Model\GatewayItem',
                '/processes/{process_id}/gateways'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\ProcessMaker\PMIO\Model\GatewayItem', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\GatewayItem', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addGroup
     *
     * 
     *
     * @param \ProcessMaker\PMIO\Model\GroupCreateItem $group_create_item JSON API with the Group object to add (required)
     * @return \ProcessMaker\PMIO\Model\GroupItem
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addGroup($group_create_item)
    {
        list($response) = $this->addGroupWithHttpInfo($group_create_item);
        return $response;
    }

    /**
     * Operation addGroupWithHttpInfo
     *
     * 
     *
     * @param \ProcessMaker\PMIO\Model\GroupCreateItem $group_create_item JSON API with the Group object to add (required)
     * @return Array of \ProcessMaker\PMIO\Model\GroupItem, HTTP status code, HTTP response headers (array of strings)
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addGroupWithHttpInfo($group_create_item)
    {
        // verify the required parameter 'group_create_item' is set
        if ($group_create_item === null) {
            throw new \InvalidArgumentException('Missing the required parameter $group_create_item when calling addGroup');
        }
        // parse inputs
        $resourcePath = "/groups";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/vnd.api+json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/vnd.api+json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($group_create_item)) {
            $_tempBody = $group_create_item;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ProcessMaker\PMIO\Model\GroupItem',
                '/groups'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\ProcessMaker\PMIO\Model\GroupItem', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\GroupItem', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addGroupsToTask
     *
     * 
     *
     * @param string $process_id Process ID (required)
     * @param string $task_id ID of the task to be modified (required)
     * @param \ProcessMaker\PMIO\Model\TaskAddGroupsItem $task_add_groups_item JSON API with Group IDs to add (required)
     * @return \ProcessMaker\PMIO\Model\ResultSuccess
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addGroupsToTask($process_id, $task_id, $task_add_groups_item)
    {
        list($response) = $this->addGroupsToTaskWithHttpInfo($process_id, $task_id, $task_add_groups_item);
        return $response;
    }

    /**
     * Operation addGroupsToTaskWithHttpInfo
     *
     * 
     *
     * @param string $process_id Process ID (required)
     * @param string $task_id ID of the task to be modified (required)
     * @param \ProcessMaker\PMIO\Model\TaskAddGroupsItem $task_add_groups_item JSON API with Group IDs to add (required)
     * @return Array of \ProcessMaker\PMIO\Model\ResultSuccess, HTTP status code, HTTP response headers (array of strings)
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addGroupsToTaskWithHttpInfo($process_id, $task_id, $task_add_groups_item)
    {
        // verify the required parameter 'process_id' is set
        if ($process_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $process_id when calling addGroupsToTask');
        }
        // verify the required parameter 'task_id' is set
        if ($task_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $task_id when calling addGroupsToTask');
        }
        // verify the required parameter 'task_add_groups_item' is set
        if ($task_add_groups_item === null) {
            throw new \InvalidArgumentException('Missing the required parameter $task_add_groups_item when calling addGroupsToTask');
        }
        // parse inputs
        $resourcePath = "/processes/{process_id}/tasks/{task_id}/groups";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/vnd.api+json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/vnd.api+json'));

        // path params
        if ($process_id !== null) {
            $resourcePath = str_replace(
                "{" . "process_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($process_id),
                $resourcePath
            );
        }
        // path params
        if ($task_id !== null) {
            $resourcePath = str_replace(
                "{" . "task_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($task_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($task_add_groups_item)) {
            $_tempBody = $task_add_groups_item;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ProcessMaker\PMIO\Model\ResultSuccess',
                '/processes/{process_id}/tasks/{task_id}/groups'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\ProcessMaker\PMIO\Model\ResultSuccess', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ResultSuccess', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 422:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addInputOutput
     *
     * 
     *
     * @param string $process_id Process ID related to Input/Output object (required)
     * @param string $task_id Task instance ID related to Input/Output object (required)
     * @param \ProcessMaker\PMIO\Model\InputOutputCreateItem $input_output_create_item Create and add a new Input/Output object with JSON API (required)
     * @return \ProcessMaker\PMIO\Model\InputOutputItem
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addInputOutput($process_id, $task_id, $input_output_create_item)
    {
        list($response) = $this->addInputOutputWithHttpInfo($process_id, $task_id, $input_output_create_item);
        return $response;
    }

    /**
     * Operation addInputOutputWithHttpInfo
     *
     * 
     *
     * @param string $process_id Process ID related to Input/Output object (required)
     * @param string $task_id Task instance ID related to Input/Output object (required)
     * @param \ProcessMaker\PMIO\Model\InputOutputCreateItem $input_output_create_item Create and add a new Input/Output object with JSON API (required)
     * @return Array of \ProcessMaker\PMIO\Model\InputOutputItem, HTTP status code, HTTP response headers (array of strings)
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addInputOutputWithHttpInfo($process_id, $task_id, $input_output_create_item)
    {
        // verify the required parameter 'process_id' is set
        if ($process_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $process_id when calling addInputOutput');
        }
        // verify the required parameter 'task_id' is set
        if ($task_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $task_id when calling addInputOutput');
        }
        // verify the required parameter 'input_output_create_item' is set
        if ($input_output_create_item === null) {
            throw new \InvalidArgumentException('Missing the required parameter $input_output_create_item when calling addInputOutput');
        }
        // parse inputs
        $resourcePath = "/processes/{process_id}/tasks/{task_id}/inputoutput";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/vnd.api+json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/vnd.api+json'));

        // path params
        if ($process_id !== null) {
            $resourcePath = str_replace(
                "{" . "process_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($process_id),
                $resourcePath
            );
        }
        // path params
        if ($task_id !== null) {
            $resourcePath = str_replace(
                "{" . "task_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($task_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($input_output_create_item)) {
            $_tempBody = $input_output_create_item;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ProcessMaker\PMIO\Model\InputOutputItem',
                '/processes/{process_id}/tasks/{task_id}/inputoutput'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\ProcessMaker\PMIO\Model\InputOutputItem', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\InputOutputItem', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addInstance
     *
     * 
     *
     * @param string $process_id Process ID related to the instance (required)
     * @param \ProcessMaker\PMIO\Model\InstanceCreateItem $instance_create_item JSON API response with the instance object to add (required)
     * @return \ProcessMaker\PMIO\Model\InstanceItem
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addInstance($process_id, $instance_create_item)
    {
        list($response) = $this->addInstanceWithHttpInfo($process_id, $instance_create_item);
        return $response;
    }

    /**
     * Operation addInstanceWithHttpInfo
     *
     * 
     *
     * @param string $process_id Process ID related to the instance (required)
     * @param \ProcessMaker\PMIO\Model\InstanceCreateItem $instance_create_item JSON API response with the instance object to add (required)
     * @return Array of \ProcessMaker\PMIO\Model\InstanceItem, HTTP status code, HTTP response headers (array of strings)
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addInstanceWithHttpInfo($process_id, $instance_create_item)
    {
        // verify the required parameter 'process_id' is set
        if ($process_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $process_id when calling addInstance');
        }
        // verify the required parameter 'instance_create_item' is set
        if ($instance_create_item === null) {
            throw new \InvalidArgumentException('Missing the required parameter $instance_create_item when calling addInstance');
        }
        // parse inputs
        $resourcePath = "/processes/{process_id}/instances";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/vnd.api+json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/vnd.api+json'));

        // path params
        if ($process_id !== null) {
            $resourcePath = str_replace(
                "{" . "process_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($process_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($instance_create_item)) {
            $_tempBody = $instance_create_item;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ProcessMaker\PMIO\Model\InstanceItem',
                '/processes/{process_id}/instances'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\ProcessMaker\PMIO\Model\InstanceItem', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\InstanceItem', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addOauthClient
     *
     * 
     *
     * @param string $user_id ID of the user related to the Oauth client (required)
     * @param \ProcessMaker\PMIO\Model\OauthClientCreateItem $oauth_client_create_item JSON API with the Oauth Client object to add (required)
     * @return \ProcessMaker\PMIO\Model\OauthClientItem
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addOauthClient($user_id, $oauth_client_create_item)
    {
        list($response) = $this->addOauthClientWithHttpInfo($user_id, $oauth_client_create_item);
        return $response;
    }

    /**
     * Operation addOauthClientWithHttpInfo
     *
     * 
     *
     * @param string $user_id ID of the user related to the Oauth client (required)
     * @param \ProcessMaker\PMIO\Model\OauthClientCreateItem $oauth_client_create_item JSON API with the Oauth Client object to add (required)
     * @return Array of \ProcessMaker\PMIO\Model\OauthClientItem, HTTP status code, HTTP response headers (array of strings)
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addOauthClientWithHttpInfo($user_id, $oauth_client_create_item)
    {
        // verify the required parameter 'user_id' is set
        if ($user_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user_id when calling addOauthClient');
        }
        // verify the required parameter 'oauth_client_create_item' is set
        if ($oauth_client_create_item === null) {
            throw new \InvalidArgumentException('Missing the required parameter $oauth_client_create_item when calling addOauthClient');
        }
        // parse inputs
        $resourcePath = "/users/{user_id}/clients";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/vnd.api+json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/vnd.api+json'));

        // path params
        if ($user_id !== null) {
            $resourcePath = str_replace(
                "{" . "user_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($user_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($oauth_client_create_item)) {
            $_tempBody = $oauth_client_create_item;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ProcessMaker\PMIO\Model\OauthClientItem',
                '/users/{user_id}/clients'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\ProcessMaker\PMIO\Model\OauthClientItem', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\OauthClientItem', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addProcess
     *
     * 
     *
     * @param \ProcessMaker\PMIO\Model\ProcessCreateItem $process_create_item JSON API response with the process object to add (required)
     * @return \ProcessMaker\PMIO\Model\ProcessItem
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addProcess($process_create_item)
    {
        list($response) = $this->addProcessWithHttpInfo($process_create_item);
        return $response;
    }

    /**
     * Operation addProcessWithHttpInfo
     *
     * 
     *
     * @param \ProcessMaker\PMIO\Model\ProcessCreateItem $process_create_item JSON API response with the process object to add (required)
     * @return Array of \ProcessMaker\PMIO\Model\ProcessItem, HTTP status code, HTTP response headers (array of strings)
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addProcessWithHttpInfo($process_create_item)
    {
        // verify the required parameter 'process_create_item' is set
        if ($process_create_item === null) {
            throw new \InvalidArgumentException('Missing the required parameter $process_create_item when calling addProcess');
        }
        // parse inputs
        $resourcePath = "/processes";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/vnd.api+json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/vnd.api+json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($process_create_item)) {
            $_tempBody = $process_create_item;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ProcessMaker\PMIO\Model\ProcessItem',
                '/processes'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\ProcessMaker\PMIO\Model\ProcessItem', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ProcessItem', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addTask
     *
     * 
     *
     * @param string $process_id Process ID related to the task (required)
     * @param \ProcessMaker\PMIO\Model\TaskCreateItem $task_create_item JSON API with the task object to add (required)
     * @return \ProcessMaker\PMIO\Model\TaskItem
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addTask($process_id, $task_create_item)
    {
        list($response) = $this->addTaskWithHttpInfo($process_id, $task_create_item);
        return $response;
    }

    /**
     * Operation addTaskWithHttpInfo
     *
     * 
     *
     * @param string $process_id Process ID related to the task (required)
     * @param \ProcessMaker\PMIO\Model\TaskCreateItem $task_create_item JSON API with the task object to add (required)
     * @return Array of \ProcessMaker\PMIO\Model\TaskItem, HTTP status code, HTTP response headers (array of strings)
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addTaskWithHttpInfo($process_id, $task_create_item)
    {
        // verify the required parameter 'process_id' is set
        if ($process_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $process_id when calling addTask');
        }
        // verify the required parameter 'task_create_item' is set
        if ($task_create_item === null) {
            throw new \InvalidArgumentException('Missing the required parameter $task_create_item when calling addTask');
        }
        // parse inputs
        $resourcePath = "/processes/{process_id}/tasks";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/vnd.api+json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/vnd.api+json'));

        // path params
        if ($process_id !== null) {
            $resourcePath = str_replace(
                "{" . "process_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($process_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($task_create_item)) {
            $_tempBody = $task_create_item;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ProcessMaker\PMIO\Model\TaskItem',
                '/processes/{process_id}/tasks'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\ProcessMaker\PMIO\Model\TaskItem', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\TaskItem', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addTaskConnector
     *
     * 
     *
     * @param string $process_id ID of the process to fetch (required)
     * @param string $task_id ID of the task to fetch (required)
     * @param \ProcessMaker\PMIO\Model\TaskConnectorCreateItem $task_connector_create_item JSON API with the TaskConnector object to add (required)
     * @return \ProcessMaker\PMIO\Model\TaskConnector1
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addTaskConnector($process_id, $task_id, $task_connector_create_item)
    {
        list($response) = $this->addTaskConnectorWithHttpInfo($process_id, $task_id, $task_connector_create_item);
        return $response;
    }

    /**
     * Operation addTaskConnectorWithHttpInfo
     *
     * 
     *
     * @param string $process_id ID of the process to fetch (required)
     * @param string $task_id ID of the task to fetch (required)
     * @param \ProcessMaker\PMIO\Model\TaskConnectorCreateItem $task_connector_create_item JSON API with the TaskConnector object to add (required)
     * @return Array of \ProcessMaker\PMIO\Model\TaskConnector1, HTTP status code, HTTP response headers (array of strings)
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addTaskConnectorWithHttpInfo($process_id, $task_id, $task_connector_create_item)
    {
        // verify the required parameter 'process_id' is set
        if ($process_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $process_id when calling addTaskConnector');
        }
        // verify the required parameter 'task_id' is set
        if ($task_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $task_id when calling addTaskConnector');
        }
        // verify the required parameter 'task_connector_create_item' is set
        if ($task_connector_create_item === null) {
            throw new \InvalidArgumentException('Missing the required parameter $task_connector_create_item when calling addTaskConnector');
        }
        // parse inputs
        $resourcePath = "/processes/{process_id}/tasks/{task_id}/connectors";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/vnd.api+json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/vnd.api+json'));

        // path params
        if ($process_id !== null) {
            $resourcePath = str_replace(
                "{" . "process_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($process_id),
                $resourcePath
            );
        }
        // path params
        if ($task_id !== null) {
            $resourcePath = str_replace(
                "{" . "task_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($task_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($task_connector_create_item)) {
            $_tempBody = $task_connector_create_item;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ProcessMaker\PMIO\Model\TaskConnector1',
                '/processes/{process_id}/tasks/{task_id}/connectors'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\ProcessMaker\PMIO\Model\TaskConnector1', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\TaskConnector1', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addUser
     *
     * 
     *
     * @param \ProcessMaker\PMIO\Model\UserCreateItem $user_create_item JSON API with the User object to add (required)
     * @param string $create_client If not empty - a new Oauth Client would be created along with User (optional, default to 1)
     * @return \ProcessMaker\PMIO\Model\UserItem
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addUser($user_create_item, $create_client = null)
    {
        list($response) = $this->addUserWithHttpInfo($user_create_item, $create_client);
        return $response;
    }

    /**
     * Operation addUserWithHttpInfo
     *
     * 
     *
     * @param \ProcessMaker\PMIO\Model\UserCreateItem $user_create_item JSON API with the User object to add (required)
     * @param string $create_client If not empty - a new Oauth Client would be created along with User (optional, default to 1)
     * @return Array of \ProcessMaker\PMIO\Model\UserItem, HTTP status code, HTTP response headers (array of strings)
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addUserWithHttpInfo($user_create_item, $create_client = null)
    {
        // verify the required parameter 'user_create_item' is set
        if ($user_create_item === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user_create_item when calling addUser');
        }
        // parse inputs
        $resourcePath = "/users";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/vnd.api+json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/vnd.api+json'));

        // query params
        if ($create_client !== null) {
            $queryParams['create_client'] = $this->apiClient->getSerializer()->toQueryValue($create_client);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($user_create_item)) {
            $_tempBody = $user_create_item;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ProcessMaker\PMIO\Model\UserItem',
                '/users'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\ProcessMaker\PMIO\Model\UserItem', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\UserItem', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addUsersToGroup
     *
     * 
     *
     * @param string $id ID of group to be modified (required)
     * @param \ProcessMaker\PMIO\Model\GroupAddUsersItem $group_add_users_item JSON API response with array of user IDs (required)
     * @return \ProcessMaker\PMIO\Model\ResultSuccess
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addUsersToGroup($id, $group_add_users_item)
    {
        list($response) = $this->addUsersToGroupWithHttpInfo($id, $group_add_users_item);
        return $response;
    }

    /**
     * Operation addUsersToGroupWithHttpInfo
     *
     * 
     *
     * @param string $id ID of group to be modified (required)
     * @param \ProcessMaker\PMIO\Model\GroupAddUsersItem $group_add_users_item JSON API response with array of user IDs (required)
     * @return Array of \ProcessMaker\PMIO\Model\ResultSuccess, HTTP status code, HTTP response headers (array of strings)
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function addUsersToGroupWithHttpInfo($id, $group_add_users_item)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addUsersToGroup');
        }
        // verify the required parameter 'group_add_users_item' is set
        if ($group_add_users_item === null) {
            throw new \InvalidArgumentException('Missing the required parameter $group_add_users_item when calling addUsersToGroup');
        }
        // parse inputs
        $resourcePath = "/groups/{id}/users";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/vnd.api+json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/vnd.api+json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($group_add_users_item)) {
            $_tempBody = $group_add_users_item;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ProcessMaker\PMIO\Model\ResultSuccess',
                '/groups/{id}/users'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\ProcessMaker\PMIO\Model\ResultSuccess', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ResultSuccess', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 422:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteEvent
     *
     * 
     *
     * @param string $process_id Process ID (required)
     * @param string $event_id ID of the event to delete (required)
     * @return \ProcessMaker\PMIO\Model\ResultSuccess
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function deleteEvent($process_id, $event_id)
    {
        list($response) = $this->deleteEventWithHttpInfo($process_id, $event_id);
        return $response;
    }

    /**
     * Operation deleteEventWithHttpInfo
     *
     * 
     *
     * @param string $process_id Process ID (required)
     * @param string $event_id ID of the event to delete (required)
     * @return Array of \ProcessMaker\PMIO\Model\ResultSuccess, HTTP status code, HTTP response headers (array of strings)
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function deleteEventWithHttpInfo($process_id, $event_id)
    {
        // verify the required parameter 'process_id' is set
        if ($process_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $process_id when calling deleteEvent');
        }
        // verify the required parameter 'event_id' is set
        if ($event_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $event_id when calling deleteEvent');
        }
        // parse inputs
        $resourcePath = "/processes/{process_id}/events/{event_id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/vnd.api+json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/vnd.api+json'));

        // path params
        if ($process_id !== null) {
            $resourcePath = str_replace(
                "{" . "process_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($process_id),
                $resourcePath
            );
        }
        // path params
        if ($event_id !== null) {
            $resourcePath = str_replace(
                "{" . "event_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($event_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ProcessMaker\PMIO\Model\ResultSuccess',
                '/processes/{process_id}/events/{event_id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\ProcessMaker\PMIO\Model\ResultSuccess', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ResultSuccess', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteEventConnector
     *
     * 
     *
     * @param string $process_id ID of the process item (required)
     * @param string $event_id ID of item to fetch (required)
     * @param string $connector_id ID of EventConnector to fetch (required)
     * @return \ProcessMaker\PMIO\Model\ResultSuccess
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function deleteEventConnector($process_id, $event_id, $connector_id)
    {
        list($response) = $this->deleteEventConnectorWithHttpInfo($process_id, $event_id, $connector_id);
        return $response;
    }

    /**
     * Operation deleteEventConnectorWithHttpInfo
     *
     * 
     *
     * @param string $process_id ID of the process item (required)
     * @param string $event_id ID of item to fetch (required)
     * @param string $connector_id ID of EventConnector to fetch (required)
     * @return Array of \ProcessMaker\PMIO\Model\ResultSuccess, HTTP status code, HTTP response headers (array of strings)
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function deleteEventConnectorWithHttpInfo($process_id, $event_id, $connector_id)
    {
        // verify the required parameter 'process_id' is set
        if ($process_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $process_id when calling deleteEventConnector');
        }
        // verify the required parameter 'event_id' is set
        if ($event_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $event_id when calling deleteEventConnector');
        }
        // verify the required parameter 'connector_id' is set
        if ($connector_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $connector_id when calling deleteEventConnector');
        }
        // parse inputs
        $resourcePath = "/processes/{process_id}/events/{event_id}/connectors/{connector_id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/vnd.api+json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/vnd.api+json'));

        // path params
        if ($process_id !== null) {
            $resourcePath = str_replace(
                "{" . "process_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($process_id),
                $resourcePath
            );
        }
        // path params
        if ($event_id !== null) {
            $resourcePath = str_replace(
                "{" . "event_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($event_id),
                $resourcePath
            );
        }
        // path params
        if ($connector_id !== null) {
            $resourcePath = str_replace(
                "{" . "connector_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($connector_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ProcessMaker\PMIO\Model\ResultSuccess',
                '/processes/{process_id}/events/{event_id}/connectors/{connector_id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\ProcessMaker\PMIO\Model\ResultSuccess', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ResultSuccess', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteFlow
     *
     * 
     *
     * @param string $process_id Process ID (required)
     * @param string $flow_id ID of the flow to delete (required)
     * @return \ProcessMaker\PMIO\Model\ResultSuccess
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function deleteFlow($process_id, $flow_id)
    {
        list($response) = $this->deleteFlowWithHttpInfo($process_id, $flow_id);
        return $response;
    }

    /**
     * Operation deleteFlowWithHttpInfo
     *
     * 
     *
     * @param string $process_id Process ID (required)
     * @param string $flow_id ID of the flow to delete (required)
     * @return Array of \ProcessMaker\PMIO\Model\ResultSuccess, HTTP status code, HTTP response headers (array of strings)
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function deleteFlowWithHttpInfo($process_id, $flow_id)
    {
        // verify the required parameter 'process_id' is set
        if ($process_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $process_id when calling deleteFlow');
        }
        // verify the required parameter 'flow_id' is set
        if ($flow_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $flow_id when calling deleteFlow');
        }
        // parse inputs
        $resourcePath = "/processes/{process_id}/flows/{flow_id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/vnd.api+json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/vnd.api+json'));

        // path params
        if ($process_id !== null) {
            $resourcePath = str_replace(
                "{" . "process_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($process_id),
                $resourcePath
            );
        }
        // path params
        if ($flow_id !== null) {
            $resourcePath = str_replace(
                "{" . "flow_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($flow_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ProcessMaker\PMIO\Model\ResultSuccess',
                '/processes/{process_id}/flows/{flow_id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\ProcessMaker\PMIO\Model\ResultSuccess', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ResultSuccess', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteGateway
     *
     * 
     *
     * @param string $process_id Process ID (required)
     * @param string $gateway_id ID of the process to delete (required)
     * @return \ProcessMaker\PMIO\Model\ResultSuccess
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function deleteGateway($process_id, $gateway_id)
    {
        list($response) = $this->deleteGatewayWithHttpInfo($process_id, $gateway_id);
        return $response;
    }

    /**
     * Operation deleteGatewayWithHttpInfo
     *
     * 
     *
     * @param string $process_id Process ID (required)
     * @param string $gateway_id ID of the process to delete (required)
     * @return Array of \ProcessMaker\PMIO\Model\ResultSuccess, HTTP status code, HTTP response headers (array of strings)
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function deleteGatewayWithHttpInfo($process_id, $gateway_id)
    {
        // verify the required parameter 'process_id' is set
        if ($process_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $process_id when calling deleteGateway');
        }
        // verify the required parameter 'gateway_id' is set
        if ($gateway_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $gateway_id when calling deleteGateway');
        }
        // parse inputs
        $resourcePath = "/processes/{process_id}/gateways/{gateway_id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/vnd.api+json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/vnd.api+json'));

        // path params
        if ($process_id !== null) {
            $resourcePath = str_replace(
                "{" . "process_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($process_id),
                $resourcePath
            );
        }
        // path params
        if ($gateway_id !== null) {
            $resourcePath = str_replace(
                "{" . "gateway_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($gateway_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ProcessMaker\PMIO\Model\ResultSuccess',
                '/processes/{process_id}/gateways/{gateway_id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\ProcessMaker\PMIO\Model\ResultSuccess', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ResultSuccess', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteGroup
     *
     * 
     *
     * @param string $id ID of group to delete (required)
     * @return \ProcessMaker\PMIO\Model\ResultSuccess
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function deleteGroup($id)
    {
        list($response) = $this->deleteGroupWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation deleteGroupWithHttpInfo
     *
     * 
     *
     * @param string $id ID of group to delete (required)
     * @return Array of \ProcessMaker\PMIO\Model\ResultSuccess, HTTP status code, HTTP response headers (array of strings)
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function deleteGroupWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling deleteGroup');
        }
        // parse inputs
        $resourcePath = "/groups/{id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/vnd.api+json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/vnd.api+json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ProcessMaker\PMIO\Model\ResultSuccess',
                '/groups/{id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\ProcessMaker\PMIO\Model\ResultSuccess', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ResultSuccess', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ProcessMaker\PMIO\Model\ErrorArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteInputOutput
     *
     * 
     *
     * @param string $process_id Process ID related to the Input/Output object (required)
     * @param string $task_id Task instance ID related to Input/Output object (required)
     * @param string $inputoutput_uid Input/Output ID to fetch (required)
     * @return \ProcessMaker\PMIO\Model\ResultSuccess
     * @throws \ProcessMaker\PMIO\ApiException on non-2xx response
     */
    public function deleteInputOutput($process_id, $task_id, $inputoutput_uid)
    {
        list($response) = $this->deleteInputOutputWithHttpInfo($process_id, $task_id, $inputoutput_uid);
        return $response;
    }

    /**
     * Operation deleteInputOutputWithHttpInfo
     *
     * 
     *
     * @param string $process_id Process ID related to the Input/Output object (required)
[...]
